<%- include('../partials/header') %>

    <ul>
        <% talks.forEach(talk=> { %>
            <li>
                <h3>
                    <a href="/talks/<%= talk._id %>">
                        <%=talk.title%>
                    </a>
                </h3>
                <% if (user) { %>
                    <form action="/talks/<%= talk._id %>?_method=DELETE" method="POST">
                        <button type="submit">Remove</button>
                    </form>
                <% } %>
            </li>
        <% }) %>
    </ul>

<%- include('../partials/footer') %>